@media  ( max-width: 1200px)
    .container
        max-width: 960px
    .hotel__slider
        width: 590px
    .hotel
        &-slider
            &_image
                width: 100%
                height: 100%
                object-fit: cover
    .card
        width: 230px
        height: 230px
    .footer
        &__input
            flex-basis: 100%
@media  ( max-width: 992px)
    .container,
    .newsletter-wrapper
        max-width: 700px
    .logo
        width: 132px
    .navbar
        &-top
            padding-top: 30px
            padding-bottom: 30px
        &_search
            margin-left: 47px
        &-menu
            padding-top: 23px
            padding-bottom: 23px
            &_link
                font-size: 12px
                line-height: 15px
    .search
        &-input
            max-width: 340px
    .hotel
        &-grid
            flex-direction: column
        &__slider
            margin-bottom: 30px
        &-right
            flex-direction: row
        &-slider
            width: 100%
    .booking
        width: 340px
    .map
        width: 340px
    .navbar-bottom
        .container
            max-width: 680px
    .reviews
        &-slider
            &__item
                max-width: 580px
        &__title
            font-size: 30px
            line-height: 38px
    .reviews-slider__button--prev
        left: 20px
    .activities
        &-wrapper
            flex-wrap: wrap
        &__card
            margin-bottom: 20px
    .card
        width: 340px
        height: 230px
    .card__title
        font-size: 16px
        line-height: 20px
    .footer
        &-wrapper
            grid-template-columns: repeat(6, 1fr)
            grid-row-gap: 40px
        &__input
            flex-basis: 48%
        &__logo
            grid-row: 1 / 2
            grid-column: span 2
        &__social
            &-network
                grid-row: 1 / 2
                grid-column: span 4
                align-self: center
        &__categories
            grid-row: 2 / 3
            grid-column: span 2
        &__legal
            grid-column: span 2
        &__additional
            grid-column: span 2
        &__contact
            &-details
                grid-column: span 5
                grid-row: 3
            &-form
                grid-column: span 5
                grid-row: 4
        
    .footer-main
        display: flex
        align-items: center
        justify-content: space-between
@media  (max-width: 768px)
    .container
        max-width: 576px
        width: 92%
    body
        padding-top: 78px
    .navbar
        &--mobile
            &_fixed
                position: fixed
                left: 0
                top: 0
                right: 0
                z-index: 99
        &_user, &_search
            &--mobile
                &--hidden
                    display: none
                &--visible
                    display: flex
        .user
            flex-direction: column
            justify-content: center
        &-bottom
            display: none 
            position: relative
            left: 0
            right: 0
            bottom: 0
            top: 78px
            padding-top: 30px
            &--visible
                display: block
        &-menu
            flex-direction: column
            &_item
                margin-bottom: 20px
                &--mobile
                    &--visible
                        display: block
        &_user
            flex-direction: column
            justify-content: center
    .menu
        &-button
            display: flex
            width: 16px
            height: 11px
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            padding: 0
            background-color: #fff
            cursor: pointer
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
    .user
        &_name
            &--light
                color: $light
                margin-left: 0
                margin-top: 10px
    .stars
        flex-basis: auto
    .hotel
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            &_text
                width: 100%
            &_name
                margin-top: 10px
                margin-bottom: 0
            &_rating
                display: none
            &_offer
                order: -1
                margin-left: 0
    
    .hotel
        &-right
            flex-direction: column
            min-height: 450px
        &-slider
            height: 350px
    .booking
        width: 100%
    .map
        width: 100%
    .newsletter
        &-wrapper
            max-width: 576px
            width: 92%
            // flex-direction: column
            // align-items: flex-start
        &_subscribe
            margin-left: 40px
    .footer
        &__input
            flex-basis: 100%
        
    .reviews
        &-slider
            &__item
                padding: 0 30px 30px
                &::after, &::before
                    display: none
            &__button
                top: 45px
                &--prev
                    top: 35px
                    left: 50%
                    margin-left: -65px
                    transform: translate(-50%, 0)
                &--next
                    top: 35px
                    right: 50%
                    margin-right: -65px
                    transform: translate(99%, 0)
    .activities
        padding-top: 40px
        padding-bottom: 60px
    .card
        width: 49%
        height: 255px
    .footer-main
        display: grid
        grid-template-columns: 1fr 1fr
    .footer-main
        display: flex
        align-items: center
        justify-content: space-between
@media  (max-width: 576px)
    .logo
        width: 99px
    .hotel
        &__slider
            margin-bottom: 20px
        &-slider
            height: 179px
        
    .search
        max-width: 243px
    .newsletter
        padding: 66px 0 83px 0
        &-wrapper
            max-width: 576px
            width: 92%
            flex-direction: column
            align-items: flex-start
        &_subscribe
            margin-left: 0
        &_title
            margin-bottom: 37px
    .subscribe
        width: 100%
    .reviews__title
        font-size: 18px
        line-height: 23px
    .reviews-slider__text 
        max-width: 455px
        text-align: left
    .activities_title
        font-size: 18px
        line-height: 23px
    .card
        width: 100%
    .footer
        &-wrapper
            grid-template-columns: 1fr
            margin-bottom: 0
        &__logo
            grid-row: 1
            grid-column: 1
        &__social
            &-network
                grid-row: 2
                grid-column: 1
        &__legal
            grid-row: 3
            grid-column: 1
        &__additional
            grid-row: 4
            grid-column: 1
        &__categories
            grid-row: 5
            grid-column: 1
        &__contact
            &-details
                grid-row: 6
                grid-column: 1 / 2
            &-form
                grid-row: 7
                grid-column: 1 / 2
        &__info
            order: 2
            flex-basis: 100%
            margin-bottom: 15px
        &__button
            order: 3
    .footer-bottom
        margin-top: 30px
    .footer-main
        display: flex
        align-items: center
        justify-content: space-between
        flex-wrap: wrap
    .bottom-content
        margin-bottom: 10px
    
 
    